{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <ul>
        <li><a href="{{ path('app_avatar_index') }}">Gérer les avatars</a></li>
        <li><a href="{{ path('app_personnage_index') }}">Gérer les personnages</a></li>
        <li><a href="{{ path('app_aventure_index') }}">Gérer les aventures</a></li>
        <li><a href="{{ path('app_etape_index') }}">Gérer les étapes</a></li>
        <li><a href="{{ path('app_alternative_index') }}">Gérer les alternatives</a></li>
        <li><a href="{{ path('app_partie_index') }}">Gérer les parties</a></li>
    </ul>
</div>
{% endblock %}
