{% extends 'base.html.twig' %}

{% block title %}Liste de personnages{% endblock %}

{% block body %}

<div class="row">
    {% for personnage in personnages %}
        <div class="card text-center" style="width: 18rem;">
            <img class="card-img-top" src="{{ asset('images/avatars/'~personnage.avatar.getNomFichier()) }}" alt="{{ personnage.avatar.getNomFichier }}">
            <div class="card-body">
                <a href="{{ path('app_choix_aventure', {'idPersonnage': personnage.id}) }}" class="btn btn-primary">{{ personnage.prenom }} {{ personnage.nom }}</a>
            </div>
        </div>
        
    {% else %}
        <p>Aucun personnage trouvé.</p>
    {% endfor %}
</div>
    

<div class="row">
    <a href="#" class="btn btn-primary">Créer</a>
</div>

{% endblock %}
